@import url("@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 75%;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: "Bangers", cursive;
  font-size: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: "Varela Round", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

h2 {
  color: #48B8F1;
}

h3 {
  color: #3A4269;
}

h4 {
  color: #48B8F1;
}

h5 {
  color: #3A4269;
}

h6 {
  color: #3A4269;
}

li {
  font-family: "Varela Round", sans-serif;
  color: #3A4269;
  list-style: none;
}

p {
  font-family: "Varela Round", sans-serif;
  color: #444041;
  font-weight: bold;
}

.mockUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login {
  background-color: #FEFDF8;
  color: #3A4269;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  border-radius: 10px;
  border: solid #3A4269;
  border-width: 2px;
}

.darkButton {
  background-color: #3A4269;
  color: #FEFDF8;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  background-color: #FFFCDD;
  color: #3A4269;
}
footer p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}