@import url("@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Varela+Round&display=swap");
* {
  margin: 0px;
  padding: 0 10px;
  max-width: 75%;
}

#time {
  margin: 20px 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  max-width: 120px;
  max-height: 120px;
}

#businessName {
  font-family: "Bangers", cursive;
  font-size: 75px;
  padding: 0px;
  margin-right: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: "Varela Round", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

h2 {
  color: #48B8F1;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 50px;
}

h3 {
  color: #3A4269;
  padding-top: 65px;
  padding-bottom: 30px;
  font-size: 30px;
}

h4 {
  color: #48B8F1;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 26px;
}

h5 {
  color: #3A4269;
  padding-top: 20px;
  padding-bottom: 80px;
  font-size: 26px;
  font-weight: 200;
}

h6 {
  color: #3A4269;
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 26px;
}

li {
  font-family: "Varela Round", sans-serif;
  color: #3A4269;
  list-style: none;
}

p {
  font-family: "Varela Round", sans-serif;
  color: #444041;
  font-weight: bold;
}

.mockUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login {
  background-color: #FEFDF8;
  color: #3A4269;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  border: solid #3A4269;
  border-width: 2px;
}

.darkButton {
  background-color: #3A4269;
  color: #FEFDF8;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#signUp {
  margin-left: 110px;
}

footer {
  background-color: #FFFCDD;
  color: #3A4269;
}
footer p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}