@import url("@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Varela+Round&display=swap");
$font-body: "Roboto" , sans-serif;
$font-diplay: "Varela Round" , sans-serif;
$font-logo: "Bangers" , cursive;


$primary-color: #3A4269;
$secondary-color: #48B8F1;
$tertiary-color: #FFFCDD;
$webpage-white: #FEFDF8;
$webpage-black: #444041;

* {
    margin: 0px;
    padding: 10px;
    max-width: 75%;
}
header {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-family: $font-logo;
    font-size: 75px;
    padding: 0px;
    margin: 0px;
}

h2, h3, h4, h5, h6 {
    font-family: $font-diplay;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

h2 {
    color: $secondary-color;
}

h3 {
    color: $primary-color;
}

h4 {
    color: $secondary-color;
}

h5 {
    color: $primary-color;
    
}

h6 {
    color: $primary-color;
}

li {
    font-family: $font-diplay;
    color: $primary-color;
    list-style: none;
}

p {
    font-family: $font-diplay;
    color: $webpage-black;
    font-weight: bold;
}

.mockUp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login {
    background-color: $webpage-white;
    color: $primary-color;
    font-size: 35px;
    font-family: $font-body;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border: solid $primary-color;
    border-width: 2px;

}

.darkButton {
    background-color: $primary-color;
    color: $webpage-white;
    font-size: 30px;
    font-family: $font-body;
    border-radius: 10px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    background-color: $tertiary-color;
    color: $primary-color;
    p {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-family: $font-body;
        font-weight: 500;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
