@import url("@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Varela+Round&display=swap");
$font-body: "Roboto" , sans-serif;
$font-diplay: "Varela Round" , sans-serif;
$font-logo: "Bangers" , cursive;


$primary-color: #3A4269;
$secondary-color: #48B8F1;
$tertiary-color: #FFFCDD;
$webpage-white: #FEFDF8;
$webpage-black: #444041;

* {
    margin: 0;
    padding: 0;
    max-width: 70%;
}

#logo {
    font-family: $font-logo;
    font-size: 60px;
}
h2, h3, h4, h5, h6 {
    font-family: $font-diplay;
    text-align: center;
}

h2 {
    color: $secondary-color;
}

h3 {
    color: $primary-color;
}

h4 {
    color: $secondary-color;
}

h5 {
    color: $primary-color;
    
}

h6 {
    color: $primary-color;
}

li {
    font-family: $font-diplay;
    color: $primary-color;
}

p {
    font-family: $font-diplay;
    color: $webpage-black;
    font-weight: bold;
}

.login {
    background-color: $webpage-white;
    font-size: 20px;
    font-family: $font-body;
    padding: 20px;
    border-radius: 10px;
}

.darkButton {
    background-color: $primary-color;
    color: $webpage-white;
    font-size: 30px;
    font-family: $font-body;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: $tertiary-color;
    color: $primary-color;
    p {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-family: $font-body;
        font-weight: 500;
    }
}
