@import url("@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Varela+Round&display=swap");
$font-body: "Roboto" , sans-serif;
$font-diplay: "Varela Round" , sans-serif;
$font-logo: "Bangers" , cursive;


$primary-color: #3A4269;
$secondary-color: #48B8F1;
$tertiary-color: #FFFCDD;
$webpage-white: #FEFDF8;
$webpage-black: #444041;

* {
    margin: 0px;
    padding: 0 10px;
    max-width: 75%;
}
#time {
    margin: 20px 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    max-width: 120px;
    max-height: 120px;
}

#businessName {
    font-family: $font-logo;
    font-size: 75px;
    padding: 0px;
    margin-right: 60px;
}

h2, h3, h4, h5, h6 {
    font-family: $font-diplay;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

h2 {
    color: $secondary-color;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
}

h3 {
    color: $primary-color;
    padding-top: 65px;
    padding-bottom: 30px;
    font-size: 30px;
}

h4 {
    color: $secondary-color;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 26px;
}

h5 {
    color: $primary-color;
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 26px;
    font-weight: 200;
    
}

h6 {
    color: $primary-color;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
}

.bulletpoints {
    font-family: $font-diplay;
    color: $primary-color;
    list-style: none;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    max-width: 200px;
    max-height: 200px;
}


.mockUp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login {
    background-color: $webpage-white;
    color: $primary-color;
    font-size: 35px;
    font-family: $font-body;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border: solid $primary-color;
    border-width: 2px;

}

.darkButton {
    background-color: $primary-color;
    color: $webpage-white;
    font-size: 30px;
    font-family: $font-body;
    border-radius: 10px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#row1 {
    display: flex;
}

#row2 {
    display: flex;
    
}

#row3 {
    display: flex;
}

#row4 {
    display: flex;
}


#signUp {
    margin-left: 110px;
}

.buttonSignUp {
    padding: 40px;
}

footer {
    background-color: $tertiary-color;
    color: $primary-color;
    p {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-family: $font-body;
        font-weight: 500;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
